{{ template "endpoint_login.tmpl"}},
{{ template "endpoint_register.tmpl"}},
{{ template "endpoint_user_logout.tmpl"}},
{{ template "endpoint_get_autho_register.tmpl"}},
{{ template "endpoint_user_forgot_password.tmpl"}},
{{ template "endpoint_reset_password.tmpl"}},
{{ template "endpoint_change_password.tmpl"}},
{{ template "endpoint_create_user.tmpl"}},
{{ template "endpoint_get_user.tmpl"}},
{{ template "endpoint_get_users.tmpl"}},
{{ template "endpoint_update_user.tmpl"}},
{{ template "endpoint_delete_user.tmpl"}},
{{ template "endpoint_user_profile.tmpl"}},
{{ template "endpoint_update_user_profile.tmpl"}},
{{ template "endpoint_get_user_tokens.tmpl"}},
{{ template "endpoint_post_user_tokens.tmpl"}},
{{ template "endpoint_delete_user_token.tmpl"}},
{{ template "endpoint_create_user_invite.tmpl"}},
{{ template "endpoint_get_user_invite.tmpl"}},
{{ template "endpoint_get_user_invites.tmpl"}},
{{ template "endpoint_update_user_invite.tmpl"}},
{{ template "endpoint_delete_user_invite.tmpl"}},
{{ template "endpoint_post_userinvite.tmpl"}},
{{ template "endpoint_get_roles.tmpl"}},
{{ template "endpoint_get_role.tmpl"}},
{{ template "endpoint_get_permissions.tmpl"}},
{{ template "endpoint_get_role_environment-by-environment_id.tmpl"}},
{{ template "endpoint_get_role_application.tmpl"}},
{{ template "endpoint_get_project_role_by_id.tmpl"}},
{{ template "endpoint_create_project.tmpl"}},
{{ template "endpoint_post-project.tmpl"}},
{{ template "endpoint_get_projects.tmpl"}},
{{ template "endpoint_update_project.tmpl"}},
{{ template "endpoint_delete_project.tmpl"}},
{{ template "endpoint_get_project_by_id.tmpl"}},
{{ template "endpoint_toggle_project_activation.tmpl"}},
{{ template "endpoint_get_project_activities.tmpl"}},
{{ template "endpoint_get_project_resource.tmpl"}},
{{ template "endpoint_get_project_users.tmpl"}},
{{ template "endpoint_add_project_user.tmpl"}},
{{ template "endpoint_remove_project_user.tmpl"}},
{{ template "endpoint_get_project_projectId_user_userId.tmpl"}},
{{ template "endpoint_create_application.tmpl"}},
{{ template "endpoint_get_applications.tmpl"}},
{{ template "endpoint_update_application.tmpl"}},
{{ template "endpoint_delete_application.tmpl"}},
{{ template "endpoint_get_application_by_id.tmpl"}},
{{ template "endpoint_get_application_available-resource.tmpl"}},
{{ template "endpoint_project_applications.tmpl"}},
{{ template "endpoint_application_users.tmpl"}},
{{ template "endpoint_deploy_application.tmpl"}},
{{ template "endpoint_restart_application.tmpl"}},
{{ template "endpoint_stop_application.tmpl"}},
{{ template "endpoint_get_application_logs.tmpl"}},
{{ template "endpoint_get_application_metrics.tmpl"}},
{{ template "endpoint_get_application_deployments.tmpl"}},
{{ template "endpoint_get_application_environments.tmpl"}},
{{ template "endpoint_ws_application.tmpl"}},
{{ template "endpoint_post_environment.tmpl"}},
{{ template "endpoint_get_environment_by_environment_id.tmpl"}},
{{ template "endpoint_get_environment-by-environment_id-overview.tmpl"}},
{{ template "endpoint_get_environment-by-environment_id_addons.tmpl"}},
{{ template "endpoint_get_environment-environment_id-fetch-state.tmpl"}},
{{ template "endpoint_get_rename_environment-by-environment_id.tmpl"}},
{{ template "endpoint_post_environment-by-environment_id-overview.tmpl"}},
{{ template "endpoint_get_environment-by_activity-log.tmpl"}},
{{ template "endpoint_get_environment-state.tmpl"}},
{{ template "endpoint_delete_environment.tmpl"}},
{{ template "endpoint_get_groups.tmpl"}},
{{ template "endpoint_create_group.tmpl"}},
{{ template "endpoint_get_group_by_id.tmpl"}},
{{ template "endpoint_update_group.tmpl"}},
{{ template "endpoint_delete_group.tmpl"}},
{{ template "endpoint_add_group_member.tmpl"}},
{{ template "endpoint_delete_group_member.tmpl"}},
{{ template "endpoint_search_user.tmpl"}},
{{ template "endpoint_search.tmpl"}},
{{ template "endpoint_get_cluster_by_id.tmpl"}},
{{ template "endpoint_update_cluster.tmpl"}},
{{ template "endpoint_get_cluster_environments.tmpl"}},
{{ template "endpoint_get_cluster_operators.tmpl"}},
{{ template "endpoint_get_cluster_operator_status.tmpl"}},
{{ template "endpoint_get_create_cluster.tmpl"}},
{{ template "endpoint_get_create_cluster_id.tmpl"}},
{{ template "endpoint_update_create_cluster_id.tmpl"}},
{{ template "endpoint_delete_create_cluster_id.tmpl"}},
{{ template "endpoint_get_create_cluster_workflows.tmpl"}},
{{ template "endpoint_get_create_cluster_insights.tmpl"}},
{{ template "endpoint_post_create_cluster_insights.tmpl"}},
{{ template "endpoint_get_create_cluster_package_status.tmpl"}},
{{ template "endpoint_post_create_cluster_install_package.tmpl"}},
{{ template "endpoint_post_create_cluster_uninstall_package.tmpl"}},
{{ template "endpoint_get_create_cluster_workflow_log.tmpl"}},
{{ template "endpoint_post_cluster_scan_by_id.tmpl"}},
{{ template "endpoint_get_package_config.tmpl"}},
{{ template "endpoint_admin_subscriptions.tmpl"}},
{{ template "endpoint_get_helm_repos.tmpl"}},
{{ template "endpoint_create_helm_repo.tmpl"}},
{{ template "endpoint_update_helm_repo.tmpl"}},
{{ template "endpoint_delete_helm_repo.tmpl"}},
{{ template "endpoint_get_helm_repo_sync.tmpl"}},
{{ template "endpoint_get_helm_charts.tmpl"}},
{{ template "endpoint_get_helm_chart_categories.tmpl"}},
{{ template "endpoint_get_organizations.tmpl"}},
{{ template "endpoint_get_organization.tmpl"}},
{{ template "endpoint_post_organization.tmpl"}},
{{ template "endpoint_delete_organization.tmpl"}},
{{ template "endpoint_get_organization_plans.tmpl"}},
{{ template "endpoint_get_organization_activities.tmpl"}},
{{ template "endpoint_get_organization_id_switch_organization_id_switch.tmpl"}},
{{ template "endpoint_post_organization-add-plugins.tmpl"}},
{{ template "endpoint_delete_organization_plugin.tmpl"}},
{{ template "endpoint_delete_organization_members.tmpl"}},
{{ template "endpoint_get_registries.tmpl"}},
{{ template "endpoint_get_dns.tmpl"}},
{{ template "endpoint_create_resource.tmpl"}},
{{ template "endpoint_get_resource.tmpl"}},
{{ template "endpoint_update_resource.tmpl"}},
{{ template "endpoint_delete_resource.tmpl"}},
{{ template "endpoint_get_subscription.tmpl"}},
{{ template "endpoint_update_subscription.tmpl"}},
{{ template "endpoint_rename_application.tmpl"}},
{{ template "endpoint_create_plugin.tmpl"}},
{{ template "endpoint_get_plugins.tmpl"}},
{{ template "endpoint_get_active_plugins.tmpl"}},
{{ template "endpoint_get_plugin_latest-version.tmpl"}},
{{ template "endpoint_get_plugin_version-config.tmpl"}},
{{ template "endpoint_get_plugin_version-settings.tmpl"}},
{{ template "endpoint_get_plugins_params.tmpl"}},
{{ template "endpoint_create_activity.tmpl"}},
{{ template "endpoint_get_activities.tmpl"}},
{{ template "endpoint_update_activity.tmpl"}},
{{ template "endpoint_delete_activity.tmpl"}},
{{ template "endpoint_create_notification.tmpl"}},
{{ template "endpoint_get_notification_by_id.tmpl"}},
{{ template "endpoint_get_notifications.tmpl"}},
{{ template "endpoint_update_notification.tmpl"}},
{{ template "endpoint_mark_all_notifications_read.tmpl"}},
{{ template "endpoint_notification_mark_all_as_read.tmpl"}},
{{ template "endpoint_payment_history.tmpl"}},
{{ template "endpoint_get_payment_threshold.tmpl"}},
{{ template "endpoint_update_payment_threshold.tmpl"}},
{{ template "endpoint_get_payment_gateway.tmpl"}},
{{ template "endpoint_get_payment_init_stripe.tmpl"}},
{{ template "endpoint_get_payment_init_paypal.tmpl"}},
{{ template "endpoint_get_payment_invoice.tmpl"}},
{{ template "endpoint_get_payment_invoice_id_download.tmpl"}},
{{ template "endpoint_get_payment_setting.tmpl"}},
{{ template "endpoint_update_payment_settings.tmpl"}},
{{ template "endpoint_get_sidebar.tmpl"}},
{{ template "endpoint_get-regions.tmpl"}},
{{ template "endpoint_get_region.tmpl"}},
{{ template "endpoint_get_external-logger_json.tmpl"}},
{{ template "endpoint_get_external_connections.tmpl"}},
{{ template "endpoint_import_cluster.tmpl"}},
{{ template "endpoint_get_monitoring_templates.tmpl"}},
{{ template "endpoint_environment_backup.tmpl"}},
{{ template "endpoint_get_environment_id_variables.tmpl"}},
{{ template "endpoint_get_monitoring_podlist.tmpl"}},
{{ template "endpoint_get_plugin-addons.tmpl"}},
{{ template "endpoint_get_plugin-category.tmpl"}},
{{ template "endpoint_get_scanner-plugins.tmpl"}},
{{ template "endpoint_get_scanner_cluster_plugins.tmpl"}},
{{ template "endpoint_get_scanner_cluster_reports.tmpl"}},
{{ template "endpoint_post_scanner-id-scan.tmpl"}},
{{ template "endpoint_get_scanner_reports.tmpl"}},
{{ template "endpoint_get-environment_restores.tmpl"}},
{{ template "endpoint_get-environment_storage-fetch.tmpl"}},
{{ template "endpoint_get_environment-id-users.tmpl"}},
{{ template "endpoint_put_environment_id.tmpl"}},
{{ template "endpoint_environment-id_storage.tmpl"}},
{{ template "endpoint_get_monitoring_events.tmpl"}},
{{ template "endpoint_get_monitoring_insights.tmpl"}},
{{ template "endpoint_delete_environment-envid-backup_bid.tmpl"}},
{{ template "endpoint_get_environment_envid_backup_setting.tmpl"}},
{{ template "endpoint_post_environment_backup.tmpl"}},
{{ template "endpoint_post_environment_envid_backup_bid_preserve.tmpl"}},
{{ template "endpoint_put_environment_envid_backup_setting.tmpl"}},
{{ template "endpoints_post_environment_envid_backup_bid_restore.tmpl"}},
{{ template "endpoint_upload_dp.tmpl"}},
{{ template "endpoint_post_environment_id_addons.tmpl"}},
{{ template "endpoint_post_environment_id_start.tmpl"}},
{{ template "endpoint_post_environment_id_stop.tmpl"}},
{{ template "endpoint_post_environment_id_schedule.tmpl"}},
{{ template "endpoint_post_environment_redeploy.tmpl"}},
{{ template "endpoint_post_environment_id_clone.tmpl"}},
{{ template "endpoint_get_environment_id_addons_aid.tmpl"}},
{{ template "endpoint_delete_environment_id_addons_aid.tmpl"}},
{{ template "endpoint_put_environment_id_addons_aid.tmpl"}},
{{ template "endpoint_post_environment_id_schedule_logs.tmpl"}},
{{ template "endpoint_put_environment_id_external-logging.tmpl"}},
{{ template "endpoint_upload.tmpl"}},
{{ template "endpoint_check_dns_permissions.tmpl"}},
{{ template "endpoint_get_ticket_group.tmpl"}},
{{ template "endpoint_get_tickets.tmpl"}},
{{ template "endpoint_get_ticket_details.tmpl"}},
{{ template "endpoint_create_ticket.tmpl"}},
{{ template "endpoint_get_admin_dashboard.tmpl"}},
{{ template "endpoint_get_admin_cluster_id.tmpl" }},
{{ template "endpoint_get_admin_clusters.tmpl" }},
{{ template "endpoint_get_admin_email-templates.tmpl" }},
{{ template "endpoint_get_admin_email-templates_template.tmpl" }},
{{ template "endpoint_get_admin_file_setting.json.tmpl" }},
{{ template "endpoint_get_admin_operators.tmpl" }},
{{ template "endpoint_get_admin_org_cluster_oid.tmpl" }},
{{ template "endpoint_get_admin_organizationPlans.tmpl" }},
{{ template "endpoint_get_admin_organization_id.tmpl" }},
{{ template "endpoint_get_admin_organizations.tmpl" }},
{{ template "endpoint_get_admin_plugins.tmpl" }},
{{ template "endpoint_get_admin_project_oid.tmpl" }},
{{ template "endpoint_get_admin_resources.tmpl" }},
{{ template "endpoint_post_admin_subscription.tmpl" }},
{{ template "endpoint_put_admin_operator_enable-disable.tmpl" }},
{{ template "endpoint_put_admin_operator_packageName.tmpl" }},
{{ template "endpoint_put_admin_operator_sync.tmpl" }},
{{ template "endpoint_put_admin_user_id_quotas.tmpl" }},
{{template "endpoint_get_admin_tickets.tmpl"}},
{{template "endpoint_admin_get_user_ticket.tmpl"}},
{{template "endpoint_get_admin_ticket_dashboard.tmpl"}},
{{template "endpoint_get_admin_loadbalancers.tmpl"}},
{{template "endpoint_admin_get_promocodes.tmpl"}},
{{template "enpoint_get_admin_payment_deduction.tmpl"}},
{{template "endpoint_get_admin_all_gateways.tmpl"}},
{{template "endpoints_get_admin_payment_invoices.tmpl"}},
{{template "endpoint_admin_get_payment_transactions.tmpl"}},
{{template "endpoint_admin_get_user_projects_by_id.tmpl"}},
{{template "endpoint_admin_get_user_block_by_id.tmpl"}},
{{template "endpoint_admin_get_change_user_admin_status_by_id.tmpl"}},
{{template "endpoint_admin_delete_subscription.tmpl"}},
{{template "enpoint_admin_post_organization_plan.tmpl"}},
{{template "endpoint_admin_delete_organization_plan_by_id.tmpl"}},
{{template "endpoint_admin_get_organization_plan_by_id.tmpl"}},
{{template "endpoint_admin_update_organization_plan_by_id.tmpl"}},
{{template "endpoint_admin_post_add_promocodes.tmpl"}},
{{template "endpoint_admin_get_promocode_by_id.tmpl"}},
{{template "endpoint_admin_put_update_promocode_by_id.tmpl"}},
{{template "endpoint_admin_delete_promocode_by_id.tmpl"}},
{{template "endpoint_admin_get_plugin_version_by_id.tmpl"}},
{{template "endpoint_admin_get_create_cluster_config.tmpl"}},
{{template "endpoint_admin_get_operator.tmpl"}},
{{template "endpoint_admin_get_payment_by_id.tmpl"}},
{{template "endpoint_admin_put_user_quota_by_id.tmpl"}},
{{template "endpoint_admin_get_subscription_by_id.tmpl"}},
{{template "endpoint_get_subscription_json.tmpl"}},
{{template "endpoint_get_vcluster_validate.tmpl"}},
{{ template "endpoint_update_organization.tmpl"}},
{{ template "endpoint_post_subscription.tmpl"}},
{{ template "endpoint_add_organization_members.tmpl"}},
{{ template "endpoint_update_organization_members.tmpl"}},
{{ template "endpoint_post_git_org_github.tmpl"}},
{{ template "endpoint_post_git_connect.tmpl"}},
{{ template "endpoint_delete_external_revoke.tmpl"}},
{{ template "endpoint_post_user_token.tmpl"}},
{{ template "endpoint_get_environment_package_status.tmpl"}},
{{ template "endpoint_get_resources.tmpl"}},
{{ template "endpoint_post_registry_org.tmpl"}},
{{ template "endpoint_get_loadbalancer.tmpl"}},
{{template "endpoint_project_loadbalancers.tmpl"}},
{{ template "endpoint_post_project_loadbalancers.tmpl"}},
{{ template "endpoint_post_registry_connect.tmpl"}},
{{ template "endpoint_post_environment_revision_fetch.tmpl"}},
{{ template "endpoint_get_environment_revision_list.tmpl"}},
{{ template "endpoint_get_environment_workflow.tmpl"}},
{{ template "endpoint_get_environment_ci_metrics.tmpl"}},
{{ template "endpoint_get_environment_ci_trigger.tmpl"}},
{{ template "endpoint_post_ci_trigger.tmpl"}},
{{ template "endpoint_post_git_branch_github.tmpl"}},
{{ template "endpoint_get_cd_config.tmpl"}},
{{template "endpoint_get_invoice_by_id.tmpl"}},
{{template "endpoint_post_add_dns.tmpl"}},
{{template "endpoint_get_registry_config.tmpl"}},
{{template "endpoint_put_update_dns.tmpl"}},
{{template "endpoint_delete_dns.tmpl"}},
{{template "endpoint_get_fetch_environment_cronjob_by_id.tmpl"}},
{{template "endpoint_post_repo_github.tmpl"}},
{{template "endpoint_get_environment_cronjob.tmpl"}},
{{template "endpoint_post_install_template.tmpl"}},
{{template "endpoint_get_cronjob_status.tmpl"}},
{{template "endpoint_get_cron_images.tmpl"}},
{{template "endpoint_get_rerun_ci.tmpl"}},
{{template "endpoint_post_add_cronjob.tmpl"}},
{{ template "endpoint_delete_monitoring_templates_general.tmpl" }},
{{ template "endpoint_get_monitoring_templates_general.tmpl" }},
{{ template "endpoint_get_monitoring_alerts.tmpl" }},
{{ template "endpoint_post_environment_dns.tmpl" }},
{{ template "endpoint_post_environment_user.tmpl" }},
{{ template "endpoint_post_environment_enable_disable_filemanager.tmpl" }},
{{ template "endpoint_post_environment_variables.tmpl" }},
{{ template "endpoint_put_environment_ip_whitelist.tmpl" }},
{{ template "endpoint_post_registry_org_dockerhub.tmpl"}},
{{ template "endpoint_post_registry_repos_dockerhub.tmpl"}},
{{ template "endpoint_post_registry_repo_tag.tmpl"}},
{{ template "endpoint_get_user_login_sso.tmpl"}},
{{ template "endpoint_post_user_login_sso.tmpl"}},
{{ template "endpoint_put_user_login_sso.tmpl"}},
{{ template "endpoints_get_clusters.tmpl"}},
{{ template "endpoint_delete_registry.tmpl"}},
{{ template "endpoint_get_environment_build_images.tmpl"}},
{{ template "endpoint_post_environment_hpa_insight.tmpl"}},
{{ template "endpoint_get_monitoring_alert_status.tmpl"}},
{{ template "endpoint_post_monitoring_restart.tmpl"}},
{{ template "endpoint_post_create_loadbalancer.tmpl"}},
{{ template "endpoint_cli_add_organization_members.tmpl"}},
{{ template "endpoint_cli_add_project_user.tmpl"}},
{{ template "endpoint_cli_admin_get_user_projects_by_id.tmpl"}},
{{ template "endpoint_cli_create_cluster_uninstall_package.tmpl"}},
{{ template "endpoint_cli_create_project.tmpl"}},
{{ template "endpoint_cli_delete_application.tmpl"}},
{{ template "endpoint_cli_delete_organization_members.tmpl"}},
{{ template "endpoint_cli_delete_organization.tmpl"}},
{{ template "endpoint_cli_delete_project.tmpl"}},
{{ template "endpoint_cli_get_application_by_id.tmpl"}},
{{ template "endpoint_cli_get_application_environments.tmpl"}},
{{ template "endpoint_cli_get_create_cluster_package_status.tmpl"}},
{{ template "endpoint_cli_get_create_cluster.tmpl"}},
{{ template "endpoint_cli_get_environment-by-environment_id-overview.tmpl"}},
{{ template "endpoint_cli_get_loadbalancer.tmpl"}},
{{ template "endpoint_cli_get_organization_id_switch_organization_id_switch.tmpl"}},
{{ template "endpoint_cli_get_organizations.tmpl"}},
{{ template "endpoint_cli_get_organization.tmpl"}},
{{ template "endpoint_cli_get_package_config.tmpl"}},
{{ template "endpoint_cli_get_project_by_id.tmpl"}},
{{ template "endpoint_cli_get_project_projectId_user_userId.tmpl"}},
{{ template "endpoint_cli_get_project_resource.tmpl"}},
{{ template "endpoint_cli_get_projects.tmpl"}},
{{ template "endpoint_cli_get_project_users.tmpl"}},
{{ template "endpoint_cli_get_rename_environment-by-environment_id.tmpl"}},
{{ template "endpoint_cli_get_roles.tmpl"}},
{{ template "endpoint_cli_import_cluster.tmpl"}},
{{ template "endpoint_cli_post_create_cluster_install_package.tmpl"}},
{{ template "endpoint_cli_post_create_loadbalancer.tmpl"}},
{{ template "endpoint_cli_post_environment-by-environment_id-overview.tmpl"}},
{{ template "endpoint_cli_post_environment_id_start.tmpl"}},
{{ template "endpoint_cli_post_environment_id_stop.tmpl"}},
{{ template "endpoint_cli_post_organization.tmpl"}},
{{ template "endpoint_cli_post_project_loadbalancers.tmpl"}},
{{ template "endpoint_cli_post-project.tmpl"}},
{{ template "endpoint_cli_project_loadbalancers.tmpl"}},
{{ template "endpoint_cli_remove_project_user.tmpl"}},
{{ template "endpoint_cli_rename_application.tmpl"}},
{{ template "endpoint_cli_toggle_project_activation.tmpl"}},
{{ template "endpoint_cli_update_application.tmpl"}},
{{ template "endpoint_cli_update_organization_members.tmpl"}},
{{ template "endpoint_cli_update_organization.tmpl"}},
{{ template "endpoint_cli_update_project.tmpl"}},
{{ template "endpoint_cli_update_user_profile.tmpl"}},
{{ template "endpoint_cli_user_logout.tmpl"}},
{{ template "endpoint_cli_user_profile.tmpl"}},
{{ template "endpoint_post_git_webhook.tmpl"}},
{{ template "endpoint_cli_get_user_login_sso.tmpl"}},
{{ template "endpoint_cli_post_user_login_sso.tmpl"}},
{{ template "endpoint_cli_put_user_login_sso.tmpl"}},
{{ template "endpoint_update_env_storage.tmpl"}},
{{template "endpoint_get_plugin_version.tmpl"}},
{{template "endpoint_put_plugin_version.tmpl"}},
{{template "endpoint_post_plugin_version.tmpl"}},
{{template "endpoint_delete_plugin_version.tmpl"}},
{{template "endpoint_post_monitoring.tmpl"}},
{{template "endpoint_update_externalurl.tmpl"}},
{{template "endpoint_get_alerts_history.tmpl"}},
{{template "endpoint_post_notifications_seen_unseen.tmpl"}},
{{template "endpoint_post_template_mysql.tmpl"}},
{{template "endpoint_post_template_mongodb.tmpl"}},
{{template "endpoint_post_template_postgresql.tmpl"}},
{{template "endpoint_delete_template_mysql.tmpl"}},
{{template "endpoint_delete_template_mongodb.tmpl"}},
{{template "endpoint_delete_template_postgresql.tmpl"}},
{{template "endpoint_get_template_mysql.tmpl"}},
{{template "endpoint_get_template_mongodb.tmpl"}},
{{template "endpoint_get_template_postgresql.tmpl"}},
{{template "endpoint_get_storage_details.tmpl"}},
{{template "endpoint_post_monitoring_alerts.tmpl"}},
{{template "endpoint_post_addStorage.tmpl"}},
{{template "endpoint_get_profile_image.tmpl"}},
{{template "endpoint_post_cluster_active_status.tmpl"}},
{{template "endpoint_get_cronjob_details.tmpl"}},
{{template "endpoint_put_update_cronjob.tmpl"}},
{{template "endpoint_delete_cronjob.tmpl"}},
{{template "endpoint_get_aws_region.tmpl"}},
{{ template "endpoint_post_registry_org_aws.tmpl"}},
{{ template "endpoint_update_user_permission.tmpl"}},
{{ template "endpoint_delete_environment_user.tmpl"}},
{{ template "endpoint_update_external_logging.tmpl"}},
{{ template "endpoint_update_addons_external_url.tmpl"}},
{{ template "endpoint_get_init_container.tmpl"}},
{{ template "endpoint_update_init_container.tmpl"}},
{{ template "endpoint_put_init_container.tmpl"}},
{{ template "endpoint_delete_init_container.tmpl"}},
{{ template "endpoint_update_template_postgres.tmpl"}},
{{ template "endpoint_get_scanner_report_by_id.tmpl"}},
{{ template "endpoint_put_monitoring_template_general.tmpl"}},
{{ template "endpoint_get_api_swagger_yaml.tmpl"}},
{{ template "endpoint_add_swagger_index.tmpl"}},
{{ template "endpoint_get_api_swagger_json.tmpl"}},
{{ template "endpoint_add_swagger_ui_bundle.tmpl"}},
{{ template "endpoint_add_swagger_ui_standalone_preset.tmpl"}},
{{ template "endpoint_add_swagger_ui_css.tmpl"}},
{{ template "endpoint_post_change_branch.tmpl"}},
{{ template "endpoint_get_environment_build_logs.tmpl"}}