{
  "endpoint": "/user/reset-password",
  "method": "POST",
  "backend": [
    {
      "host": [
        {{ include "backend_host.tmpl" }}
      ],
      "method": "POST",
      "url_pattern": "/user/reset-password",
      "extra_config": {
        {{ include "circuit_breaker.tmpl" }}
      }
    }
  ]
}
