{
  "endpoint": "/helm/repos",
  "method": "GET",
  {{ include "auth0_input_headers.tmpl" }},
  "extra_config": {
    {{ include "auth0_validator.tmpl" }}
  },
  "backend": [
    {
      "host": [
        {{ include "backend_host.tmpl" }}
      ],
      "method": "GET",
      "url_pattern": "/helm/repos",
      "encoding": "safejson",
      "extra_config": {
        {{ include "circuit_breaker.tmpl" }},
          {{include "martian_cache_modifier.tmpl"}},
          {{ include "cache_control.tmpl"}}
      }
    }
  ]
}
