{
  "endpoint": "/cli/organization",
  "method": "POST",
  {{ include "auth0_input_headers.tmpl" }},
  "backend": [
    {
      "host": [
        {{ include "backend_host.tmpl" }}
      ],
      "method": "POST",
      "url_pattern": "/organization",
        "extra_config": {
          {{ include "circuit_breaker.tmpl" }}
      }
    }
  ]
}
