{
  "endpoint": "/monitoring/alerts/{id}",
  "method": "POST",
  {{ include "auth0_input_headers.tmpl" }},
  "extra_config": {
    {{ include "auth0_validator.tmpl" }}
  },
  "input_query_strings": ["page", "limit","type"],
  "backend": [
    {
      "host": [
        {{ include "backend_host.tmpl" }}
      ],
      "method": "POST",
      "url_pattern": "/monitoring/alerts/{id}",
      "extra_config": {
        {{ include "circuit_breaker.tmpl" }}
      }
    }
  ]
}