{
  "endpoint": "/users",
  "method": "GET",
  {{ include "auth0_input_headers.tmpl" }},
  "extra_config": {
    {{ include "auth0_validator.tmpl" }}
  },
  "input_query_strings": ["page", "limit", "role", "status", "sort-column", "sort-direction", "search"],
  "backend": [
    {
      "host": [
        {{ include "backend_host.tmpl" }}
      ],
      "method": "GET",
      "url_pattern": "/users",
      "encoding": "safejson",
      "extra_config": {
        {{ include "circuit_breaker.tmpl" }}
      }
    }
  ]
}
