{
  "endpoint": "/cli/create-cluster/{id}/package-status",
  "method": "GET",
  {{ include "auth0_input_headers.tmpl" }},
  "backend": [
    {
      "host": [
        {{ include "backend_host.tmpl" }}
      ],
      "method": "GET",
      "url_pattern": "/create-cluster/{id}/package-status",
      "extra_config": {
        {{ include "circuit_breaker.tmpl" }}
      }
    }
  ]
}
