{
  "endpoint": "/user/{id}",
  "method": "GET",
  {{ include "auth0_input_headers.tmpl" }},
  "extra_config": {
    {{ include "auth0_validator.tmpl" }},
    {{ include "rate_limit_backend.tmpl"}}
  },
  "backend": [
    {
      "host": [
        {{ include "backend_host.tmpl" }}
      ],
      "method": "GET",
      "url_pattern": "/user/{id}",
      "extra_config": {
        {{ include "circuit_breaker.tmpl" }},
          {{include "martian_cache_modifier.tmpl"}},
          {{ include "cache_control.tmpl"}}
      }
    }
  ]
}
