{
  "endpoint": "/monitoring/restart/{alert_id}",
  "method": "POST",
  "input_query_strings":["namespace"],
  {{ include "auth0_input_headers.tmpl" }},
  "extra_config": {
    {{ include "auth0_validator.tmpl" }}
  },
  "backend": [
    {
      "host": [
        {{ include "backend_host.tmpl" }}
      ],
      "method": "POST",
      "url_pattern": "/monitoring/restart/{alert_id}",
      "extra_config": {
        {{ include "circuit_breaker.tmpl" }}
      }
    }
  ]
}
