{
  "endpoint": "/monitoring/alert-history/{id}",
  "method": "GET",
  "input_query_strings": ["page", "limit","type"],
  {{ include "auth0_input_headers.tmpl" }},
  "extra_config": {
    {{ include "auth0_validator.tmpl" }}
  },
  "input_query_strings": ["page", "limit"],
  "backend": [
    {
      "host": [
        {{ include "backend_host.tmpl" }}
      ],
      "method": "GET",
      "url_pattern": "/monitoring/alert-history/{id}",
      "extra_config": {
        {{ include "circuit_breaker.tmpl" }}
      }
    }
  ]
}