{
  "endpoint": "/cli/roles",
  "method": "GET",
  {{ include "auth0_input_headers.tmpl" }},
  "backend": [
    {
      "host": [
        {{ include "backend_host.tmpl" }}
      ],
      "method": "GET",
      "url_pattern": "/roles",
      "encoding": "safejson",
      "extra_config": {
        {{ include "circuit_breaker.tmpl" }}
      }
    }
  ]
}
