{
  "endpoint": "/application/{id}/metrics",
  "method": "GET",
  {{ include "auth0_input_headers.tmpl" }},
  "extra_config": {
    {{ include "auth0_validator.tmpl" }}
  },
  "input_query_strings": ["period", "metric_type"],
  "backend": [
    {
      "host": [
        {{ include "backend_host.tmpl" }}
      ],
      "method": "GET",
      "url_pattern": "/application/{id}/metrics",
      "encoding": "safejson",
      "extra_config": {
        {{ include "circuit_breaker.tmpl" }}
      }
    }
  ]
}
