{
  "endpoint": "/cli/application/{id}",
  "method": "DELETE",
  {{ include "auth0_input_headers.tmpl" }},
  "backend": [
    {
      "host": [
        {{ include "backend_host.tmpl" }}
      ],
      "method": "DELETE",
      "url_pattern": "/application/{id}",
      "extra_config": {
        {{ include "circuit_breaker.tmpl" }}
      }
    }
  ]
}
