{
  "endpoint": "/payment/admin/setting/{id}",
  "method": "GET",
  {{include "auth0_input_headers.tmpl"}},
   "extra_config":{
  {{ include "auth0_validator.tmpl" }},
          {{ include "circuit_breaker.tmpl" }}
   },
  "backend": [
    {
      "host": [
        {{ include "backend_host.tmpl" }}
      ],
       "method": "GET",
      "url_pattern": "/payment/admin/setting/{id}"
    }
  ]
}