{
  "endpoint": "/cli/user/login/sso",
  "method": "GET",
  "input_headers":["*"],
    "output_encoding": "no-op",
  "backend": [
    {
      "host": [
        {{ include "backend_host.tmpl" }}
      ],
       "method": "GET",
       "encoding": "no-op",
      "url_pattern": "/user/login/sso",
          "extra_config": {
          {{ include "circuit_breaker.tmpl" }}
      }
    }
  ]
}
