  "telemetry/logging": {
      "level": "DEBUG",
      "prefix": "[KRAKEND]",
      "syslog": false,
      "stdout": true,
      "access_enable": "true",
      "access_log_format": "json",
      "format": "json"
  }
