 "qos/ratelimit/router": {
          "max_rate": 10,
          "every": "5m",
          "client_max_rate": 5,
          "strategy": "ip",
          "capacity": 10,
          "client_capacity": 5
        }